name: Metrics
on:
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
  push: 
    branches: ["master", "main"]
    
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: PepeGamboa
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
